.row-filter {
    .container {
        width: 1860px;
        margin: 0 auto;

        .filter {
            display: flex;
            justify-content: space-between;
            padding: 40px 140px 24px 140px;

            .filter-custom {
                display: flex;
                align-items: center;

                svg {
                    width: 20px;
                    height: 22px;
                }

                span {
                    padding-left: 20px;
                    text-transform: uppercase;
                    font-family: "Fira Sans";
                    font-weight: normal;
                    font-size: 25px;
                    line-height: 30px;
                    cursor: pointer;

                    &:hover {
                        color: $blue;
                    }
                }
            }

            .filter-standart {
                ul {
                    display: flex;

                    li {
                        position: relative;

                        &:nth-child(2)::before {
                            font-family: "Font Awesome 5 Free";
                            content: "\f077";
                            color: $blue;
                            font-weight: 700;
                            position: absolute;
                            top: 3px;
                            left: 15px;
                            cursor: pointer;
                        }

                        a {
                            padding-left: 40px;
                            font-family: "Fira Sans";
                            font-weight: 400;
                            line-height: 160%;
                            cursor: pointer;

                            &:hover {
                                color: $blue;
                            }
                        }
                    }
                }
            }
        }
    }
}
