-var productionApple=[ 'Mac',"IPad","IPhone","Apple Watch","Распродажа"]       
-var shopService =["О магазине", "Доставка и оплата", "Рассрочка","Контакты", "Гарантия"]

header
    .container
        .top-header
            include ../includes/common/header-top.pug
        .bottom-header  
            include ../includes/common/header-bottom.pug            

