.row-footer-executer 
  .container 
    .footer-executer
      .executer-registration 
        p Регистрация № 191597187 от 01.02.2012, Мингорисполком в торговом реестре РБ с 30.12.2015 г. №299737.
      .executer-studio 
        p Сайт разработан студией - Медиа Лайн
      .executer-payment 
        img(src="../../../img/footer/payment.png", alt="payments")