.list-pages
  ul 
    li 
      a(href="#") Главная 
    li 
      a(href="#") Каталог IPhone 
  h1 Каталог IPhone

.img-box
  img(src="../../../img/header/page-catalog.png", alt="page-head-catalog")
