-
  const contacts =[
    {constactsImg:"",contactsTex:"Наша служба поддержки по телефону работает:",contacts:"10:00 до 20:00"}
    {constactsImg:"",contactsTex:"Наш телефон:",contacts:"+ 375 (12) 345 67 89"}
    {constactsImg:"",contactsTex:"Наш email:",contacts:"info@cafeconnect.by"}
  ]


.row-contacts
  .container 
    .contacts 
      .supports

      .mobile 
      .email