.row-contacts
  .container 
    .contacts 
      .constact-item
          svg.icon-person
            use(xlink:href="img/sprite/row-contacts.svg#person")
          p.contact-text "Наш телефон:" <span class="contact-text-hightlit">"+ 375 (12) 345 67 89"</span>
      .constact-item
          svg.icon-phone
            use(xlink:href="img/sprite/row-contacts.svg#phone")
          p.contact-text "Наш email:" <span class="contact-text-hightlit">"info@cafeconnect.by"</span>
      .constact-item
          svg.icon-email
            use(xlink:href="img/sprite/row-contacts.svg#mail")
          p.contact-text "Наша служба поддержки по телефону работает:" <span class="contact-text-hightlit">"10:00 до 20:00"</span>



//- -
//-   const contacts =[
//-     {contactsId:"#person",contactsTex:"Наш телефон:",contacts:"+ 375 (12) 345 67 89"},
//-     {contactsId:"#phone",contactsTex:"Наш email:",contacts:"info@cafeconnect.by"},
//-     {contactsId:"#mail",contactsTex:"Наша служба поддержки по телефону работает:",contacts:"10:00 до 20:00"},
//-   ]

//- .row-contacts
//-   .container 
//-     .contacts 
//-       each contact in contacts
//-         .constact-item
//-           svg.icon
//-             use(xlink:href=contact.contactsId)
//-           p.contact-text !{contact.contactsTex} <span class="contact-text-hightlit">#{contact.contacts}</span>

