.row-advertisement
  .container 
    .advertisement
      .adv-logo 
        img(src="../../../img/row-advertisement/ipod.png", alt="ad-ipod")
      .adv-name 
        h2 airpods
        span стоимость снижена
      .adv-btn
        button перейти
