*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-weight: 300;
  font-family: "Fira Sans", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
