extends common/layout

block content
  //- include ../pages/includes/index/row-models.pug    
  //- include ../pages/includes/index/row-filters.pug    
  include ../pages/includes/index/row-card.pug
  //- main.main
  //-   h2 Main content