extends common/layout

block content
  main.main
  //- include ../pages/includes/index/row-contacts.pug
  //- include ../pages/includes/index/row-models.pug    
  //- include ../pages/includes/index/row-filters.pug    
  //- include ../pages/includes/index/row-card.pug