// Mobile first
$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;
// переменные
$black: #060528;
$gray: #f3f3f3;
$white: #ffff;
$blue: #1d0081;
$green: #0fcf9c;
