-
  const db = [
    {
      ticketsBenefit: [
        { param: '12 месяц', type: ' рассрочка' },
        { param: '35%', type: ' экономия' },
      ],
      carousel: [
        '../../../../img/card-mobilephone/image 11.png',
        '../../../../img/card-mobilephone/image 23.png',
        '../../../../img/card-mobilephone/image 24.png',
        ],
      products:
      {
        nameProduct: 'iPhone SE 32GB',
        color: 'Красный',
        price: '320',
        priceThrough: '375,00',
      },
      ticketCondition: [
        { value: '5+', valueByString: ' Как новый' },
        { value: '5', valueByString: ' Отличный' },
        { value: '4+', valueByString: ' Хорошо' },
      ],
    },

    {
      ticketsBenefit: [
        { param: 'Как', type: ' новый' },
        { param: '12 мес', type: ' рассрочка' },
      ],
      carousel: [
        '../../../../img/card-mobilephone/image 24.png',
        '../../../../img/card-mobilephone/image 11.png',
        '../../../../img/card-mobilephone/image 23.png',
        ],
      products:
      {
        nameProduct: 'iPhone SE plus max 32gb',
        color: 'Красный',
        price: '422',
        priceThrough: '456,00',
      },
      ticketCondition: [
        { value: '5+', valueByString: ' Как новый' },
        { value: '5', valueByString: ' Отличный' },
        { value: '4+', valueByString: ' Хорошо' },
      ],
    },

    {
      ticketsBenefit: [
        { param: 'Как', type: ' новый' },
        { param: '12 мес', type: ' рассрочка' },
      ],
      carousel: [
        '../../../../img/card-mobilephone/image 24.png',
        '../../../../img/card-mobilephone/image 11.png',
        '../../../../img/card-mobilephone/image 23.png',
        ],
      products:
      {
        nameProduct: 'iPhone SE plus max 32gb',
        color: 'Красный',
        price: '422',
        priceThrough: '456,00',
      },
      ticketCondition: [
        { value: '5+', valueByString: ' Как новый' },
        { value: '5', valueByString: ' Отличный' },
        { value: '4+', valueByString: ' Хорошо' },
      ],
    },

    {
      ticketsBenefit: [
        { param: 'Как', type: ' новый' },
        { param: '12 мес', type: ' рассрочка' },
      ],
      carousel: [
        '../../../../img/card-mobilephone/image 24.png',
        '../../../../img/card-mobilephone/image 11.png',
        '../../../../img/card-mobilephone/image 23.png',
        ],
      products:
      {
        nameProduct: 'iPhone SE plus max 32gb',
        color: 'Красный',
        price: '422',
        priceThrough: '456,00',
      },
      ticketCondition: [
        { value: '5+', valueByString: ' Как новый' },
        { value: '5', valueByString: ' Отличный' },
        { value: '4+', valueByString: ' Хорошо' },
      ],
    },
    {
      ticketsBenefit: [
        { param: 'Как', type: ' новый' },
        { param: '12 мес', type: ' рассрочка' },
      ],
      carousel: [
        '../../../../img/card-mobilephone/image 24.png',
        '../../../../img/card-mobilephone/image 11.png',
        '../../../../img/card-mobilephone/image 23.png',
        ],
      products:
      {
        nameProduct: 'iPhone SE plus max 32gb',
        color: 'Красный',
        price: '422',
        priceThrough: '456,00',
      },
      ticketCondition: [
        { value: '5+', valueByString: ' Как новый' },
        { value: '5', valueByString: ' Отличный' },
        { value: '4+', valueByString: ' Хорошо' },
      ],
    },
  ];